#logo{
    width: 200px;
}

header, footer{
    background-color: #ADD8E6;
}

header, .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    font: bold 15px Verdana;
}

.nav a:hover{
    background-color: darkblue;
    color: white;
}

#nav_bar ul li.active{
    border: 2px solid black;
    padding: 2px;
}

body > header{
    position: sticky;
    top: 0;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

a:link, a:visited{
    color: black;
}

body{
    font: 15px Verdana;
}

.intro{
    line-height: 1.5;
    margin-left: 10%;
    margin-right: 10%;
}

#resort{
    border-radius: 25px;
    display: block;
    margin: 0 auto 20px auto;
}

#resorttext, #parktext, #highlights{
    font: bold 25px Verdana;
    text-align: center;
    padding-top: 50px;
}

.parks{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-left: 10%;
    margin-right: 10%;
    background-color: gainsboro;
    padding-top: 20px;
    padding-left: 32px;
}

#parkcastle, #pixar, .disneylandimg{
    width: 90%;
    height: 90%;
}

footer{
    margin-top: 30px;
    font-weight: bold;
}

.gallerydisneyland{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

.gallerycalifadv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10px;
}

.img{
    background-color: gainsboro;
    padding-top: 20px;
    padding-left: 32px;
    border-radius: 25px;
} 

.img:hover{
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.gallerycalifadv img{
    width:400px;
    height:250px;
    padding-right: 32px;
}

@media screen and (min-width: 600px){
    .nav{
        flex-direction: row;
        justify-content: space-between;
    }

    nav{
        width: 80%;
    }

    #nav_bar ul li.active{
        padding: 5px;
    }

    .gallerydisneyland, .parks{
        grid-template-columns: 1fr 1fr;
    }

    .gallerycalifadv img{
        width:320px;
        height:170px;
    }
}

@media screen and (min-width: 1000px){
    header, .nav{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 10px 10px 10px;
    }

    nav{
        width: 60%;
    }

    #parkcastle, #pixar{
        width: 95%;
    }

    .gallerydisneyland{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallerycalifadv img{
        width:310px;
        height:170px;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    .img:hover{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}